// !參考
// process
.process-steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    // 細細的橫線
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        // 左右稱滿線條
        left: 0;
        right: 0;
    }

    // 三個空圈圈
    .process-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $primary;
        z-index: 1; 
        background-color: $success;
        // 用 flex 置中圖示
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // 當前頁面 (雙層白色圈圈)
    .active {
        border-color: $primary; // 改顏色 讓當前頁面多一圈 border
        // 讓內圈小於外圈
        &::after {
            content: " ";
            display: block;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: $primary;
            transform: translate(.1px, .3px);
        }
    }

    .completed {
        background-color: $primary;
        color: $success;
        font-size: 1.25rem;
        font-weight: bold;
    }

    &--end {

        // 細線
        &::after {
            background-color: $success;
        }
    
        // 付款成功
        .success {
            font-size: 1rem;
            background-color: $success;
            color: $light;
            border-color: $success;
            font-weight: bold;
        }
    }
}